<VirtualHost *:{{ http_port }}>
  ServerName {{ server_name }}
{% if server_alias is defined %}
  ServerAlias {{ server_alias }}
{% endif %}
  DocumentRoot "{{ web_root_path }}"
  ErrorLog "{{ web_root_path }}/log/error.log"
  CustomLog "{{ web_root_path }}/log/custom.log" combined

  <Directory "{{ web_root_path }}">
    AllowOverride all
  {% if vhost_security_enabled %}
  Options {{ vhost_security_configuration }}
  {% endif %}  
    Require all granted
  </Directory>
</VirtualHost>
