#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2     #Log configuration
 
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000                
    user        haproxy             #Haproxy running under user and group "haproxy"
    group       haproxy
    daemon
 
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
 
#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
 
#---------------------------------------------------------------------
#HAProxy Monitoring Config
#---------------------------------------------------------------------
{% if haproxy_monitoring_enabled %}
listen stats
    bind {{ haproxy_monitoring_address }}:{{ haproxy_monitoring_port }}
    mode http
    option forwardfor
    option httpclose
    stats enable
    stats show-legends
    stats refresh {{ haproxy_monitoring_refresh_value }}s
    stats uri /stats
    stats realm Haproxy\ Statistics
    stats auth {{ haproxy_monitoring_username }}:{{ haproxy_monitoring_password }}
    stats admin if TRUE
    default_backend {{ haproxy_backend_name }}
{% else %}
# Not available Monitoring Configuration
{% endif %}

#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
frontend {{ haproxy_frontend_name }}
    bind {{haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
    option http-server-close
    option forwardfor
    default_backend {{ haproxy_backend_name }}
 
#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
backend {{ haproxy_backend_name }}
    balance {{ haproxy_backend_balance_algorithm }}                                     #Balance algorithm
    option httpchk HEAD / HTTP/1.1\r\nHost:\ localhost    #Check the server application is up and healty - 200 status code
  {% for servers in haproxy_backend_servers %}
  server {{ servers.name }} {{ servers.address }} check 
  {% endfor %}
