!includedir /etc/my.cnf.d/

[mysqld]
bind-address = {{ remote_addresses }} 
max_connections = {{ mariadb_max_connections }}
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
port = {{ mariadb_port }}
