version: '3.9'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ elk_version }}
    container_name: es01
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      discovery.type: single-node
      ELASTIC_PASSWORD: ${MASTER_PASSWORD}
    volumes:
      - "elasticsearch:/usr/share/elasticsearch/data"
      - "./usr/share/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
    networks:
      - elk_stack

  kibana:
    image: docker.elastic.co/kibana/kibana:{{ elk_version }} 
    container_name: kib01
    ports: 
      - "5601:5601"
    environment: 
      ELASTIC_PASSWORD: ${MASTER_PASSWORD}
    volumes:
      - "./usr/share/kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml"
      - "./etc/ssl/certs/:/etc/ssl/certs/"
    networks:
      - elk_stack
    depends_on:
      - elasticsearch

networks:
  elk_stack:
    driver: bridge

volumes: 
  elasticsearch:
    name: es
