user	nginx;
worker_processes {{ ansible_processor_count }};

error_log  {{ nginx_log_path }} warn;
pid        /var/run/nginx.pid;

events {
	worker_connections 1024;
}

http {

    include	/etc/nginx/mime.types;
    default_type application/octet-stream;

    log_format	main	 '$remote_addr - $remote_user [$time_local] "$request" '
 			 '$status $body_bytes_sent "$http_referer" '
 			 '"$http_user_agent" "$http_x_forwarded_for"';

    access_log 	/var/log/nginx/access.log	main;
    
  {% if nginx_basic_performance %}
  {{ nginx_basic_perf }}
  {% endif %}
    
    keepalive_timeout	65;
    
    include /etc/nginx/conf.d/*.conf;

}
