#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2     #Log configuration
 
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000                
    user        haproxy             #Haproxy running under user and group "haproxy"
    group       haproxy
    daemon
 
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # SSL HARDENING
    ssl-default-bind-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets 

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
 
#---------------------------------------------------------------------
#HAProxy Monitoring Config
#---------------------------------------------------------------------
{% if haproxy_monitoring_enabled %}
listen stats
    bind {{ haproxy_monitoring_address }}:{{ haproxy_monitoring_port }}
    mode http
    option forwardfor
    option httpclose
    stats enable
    stats show-legends
    stats refresh {{ haproxy_monitoring_refresh_value }}s
    stats uri /stats
    stats realm Haproxy\ Statistics
    stats auth {{ haproxy_monitoring_username }}:{{ haproxy_monitoring_password }}
    stats admin if TRUE
    default_backend {{ haproxy_backend_name }}
{% else %}
# Not available Monitoring Configuration
{% endif %}

#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
frontend {{ haproxy_frontend_name }}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_http_port }}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_https_port }} ssl crt /etc/ssl/certs/selfsigned.pem
    http-request redirect scheme https unless { ssl_fc }
    option http-server-close
    option forwardfor
    default_backend {{ haproxy_backend_name }}
 
#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
backend {{ haproxy_backend_name }}
    balance {{ haproxy_backend_balance_algorithm }}                                     #Balance algorithm
  {% for servers in haproxy_backend_servers %}
  server {{ servers.name }} {{ servers.address }} check 
  {% endfor %}
