server {
    listen       {{ http_port | default('80') }};
    server_name  {{ server_name | default('localhost') }};
    root   {{ web_root_path }};
  {% if nginx_php_site_enabled %}
  {{ nginx_php_indexes }}
  {% else %}
  {{ nginx_default_indexes}}
  {% endif %}

    #charset koi8-r;
    #access_log  /var/log/nginx/host.access.log  main;

    location / {
	{% if nginx_php_site_enabled %}
	{{ nginx_php_try_files }}
	{% endif %}
            }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ web_root_path }};
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

  {% if nginx_php_site_enabled %}
  {{ nginx_php_location }}
  {% endif %} 

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}



