server { 
    listen {{ https_port }} http2 ssl; 
    listen [::]:443 http2 ssl; 
    server_name {{ server_name }}; 
    root {{ web_root_path }};
  {% if nginx_php_site_enabled %}
  {{ nginx_php_indexes }}
  {% else %}
  {{ nginx_default_indexes }}  
  {% endif %}

    ssl_certificate "/etc/ssl/certs/{{ key_name }}.crt"; 
    ssl_certificate_key "/etc/ssl/private/{{ key_name }}.key"; 
    
  {% if ssl_secure_options_enabled %}
  {{ ssl_secure_configuration }}
  {% endif %}
  
    
    location / { 
  {% if nginx_php_site_enabled %}
  {{ nginx_php_try_files }}
  {% endif %}
    } 
   
    error_page 404 /404.html; 
    location = /404.html { 
    } 
    
    error_page 500 502 503 504 /50x.html; 
    location = /50x.html { 
    } 

  {% if nginx_php_site_enabled %}
  {{ nginx_php_location }}
  {% endif %}

}
