# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi

if ! [[ "$PATH" =~ "/opt/venv/python/bin" ]] && [[ -d "/opt/venv/python/bin" ]]; then
    PATH="$PATH:/opt/venv/python/bin"
fi 

if ! [[ "$PATH" =~ "/opt/ansible_venv/bin" ]] && [[ -d "/opt/ansible_venv/bin" ]]; then
    PATH="$PATH:/opt/ansible_venv/bin"
fi 
export PATH

# Enable color support of ls and also add handy aliases
if [[ -x /usr/bin/dircolors ]]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

{% if ansible_os_family == "Debian" %}
source /etc/zsh/git-zshrc
{% elif ansible_os_family == "RedHat" %}
source /etc/git-zshrc
{% endif %}
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh

autoload -U colors && colors

# History
HISTSIZE=1000000
SAVEHIST=1000000
HISTFILE=~/.zsh_history
HISTTIMEFORMAT="[%F %T]"
setopt HIST_IGNORE_SPACE
setopt EXTENDED_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_DUPS # ignore duplication command history list
setopt HIST_IGNORE_SPACE
setopt SHARE_HISTORY

setopt AUTOCD

autoload -U up-line-or-beginning-search
autoload -U down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
{% if ansible_os_family == "Debian" %}
bindkey "${terminfo[kcuu1]}" up-line-or-beginning-search
bindkey "${terminfo[kcud1]}" down-line-or-beginning-search
{% elif ansible_os_family == "RedHat" %}
bindkey "^[[A" up-line-or-beginning-search
bindkey "^[[B" down-line-or-beginning-search
{% endif %}
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

autoload -Uz compinit
compinit
n () {
  if [[ -n "$TMUX" ]]; then
    nnn -deUa -P p $@
  else
    tmux new-session nnn -deUa -P p $@
  fi
}

# nnn related configuration
export NNN_FIFO=/tmp/nnn.fifo
export NNN_PLUG='p:preview-tui'
export NNN_FCOLORS='c1e2272e006033f7c6d6abc4'
export NNN_COLORS='3333'

# if bat is installed use it as the default
if [[ -x /usr/bin/bat ]]; then
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
fi

__git_checkout_default() {
  default_branch=$(git ls-remote --symref origin HEAD | sed -nE 's|^ref: refs/heads/(\S+)\s+HEAD|\1|p')
  git checkout $default_branch
}

__git_reset() {
  if (( $# > 1 )); then
    # This check exists in case there is a command like
    # 'git reset 1 2'. The user probably wants to type a custom git reset command
    # but misstyped something.
    if (( $1 )); then
      echo "Type \"git reset\" or \"git reset <number>\""
      return 1
    # If the arguments are more that one and they are not numbers
    # execute the command as it should
    else
     command git reset "$@"
     return 0
    fi
  elif (( $# == 1 )); then
    # If the second argument is number greater than 0 set it correctly
    if (( $1 > 0 )); then
      resetted_commits=$1
    # If the second argument is 0 the "(( ))" does not consider it as number
    # so it needs a different handling.
    elif (( $1 == 0 )); then
      echo "Can't reset 0 commits. A number greater than 0 is necessary"
      return 1
    elif (( $1 < 0 )); then
      echo "Custom \"git reset\" command accepts only numbers greater than 0"
      return 1
    # If there are no numbers execute the git command as it should
    else
      command git "$@"
      return 0
    fi
  elif (( $# == 0 )); then
    resetted_commits=1
  fi
  command git reset --soft HEAD~"$resetted_commits"
}

git-pull() {
  initial_path=$(pwd)

  for dir in $(find -iname .git); do
    project=${dir%/*}
    cd "$project"
    current_branch=$(git symbolic-ref HEAD | sed -nE 's|refs/heads/(\S+)|\1|p')
    default_branch=$(git ls-remote --symref origin HEAD | sed -nE 's|^ref: refs/heads/(\S+)\s+HEAD|\1|p')
    printf "%-40s" "Pulling from ${project##*/} project "
    result="$(git checkout -q $default_branch && git pull -q origin $default_branch 2>&1 && git fetch -pq && git checkout -q $current_branch)" \
      && echo -e "${green}DONE${NC}" \
      || echo -e "${red}ERROR${NC}\n$result"
    cd "$initial_path"
  done
}

__git_push(){
  if (( $# == 0 )); then
    current_branch=$(git symbolic-ref HEAD | sed -nE 's|refs/heads/(\S+)|\1|p')
    git push origin "$current_branch"
  else
    command git push "$@"
  fi
}

git() {
  if [[ $@ == "checkout default" ]]; then
    __git_checkout_default
  elif [[ $1 == "reset" ]]; then
    shift
    __git_reset "$@"
  elif [[ $1 == "push" ]]; then
    shift
    __git_push "$@"
  else
    command git "$@"
  fi
}

{% if ansible_os_family == "Debian" and ansible_distribution_major_version > "10" %}
apt() { 
  command nala "$@"
}
sudo() {
  if [[ "$1" == "apt" ]]; then
    shift
    command sudo nala "$@"
  else
    command sudo "$@"
  fi
}
{% endif %}

precmd() {
    setup_git_prompt
    PS1="
%(1j.jobs:%F{yellow}%j%f .)rc:%(0?.%F{green}%?%f.%B%F{red}%?%f%b) %(0#.%B%F{red}%n%f%b.%B%F{cyan}%n%f%b)@%m %F{blue}%~%f ${git_prompt}
%* %# "
    RPS1="[%h]"
}
