version: "3.9"

services:
  nagios_monitoring:
    image: nagios_two_stage
    container_name: monitor
    ports:
      - "9090:80"
    volumes:
      - "./opt/nagios/etc/servers/:/opt/nagios/etc/servers/"
    environment:
      - CHANGE_THEME=false

{% for client_name in clients %}
  nagios_{{ client_name }}:
    image: nagios_client_3
    container_name: {{ client_name }}

{% endfor %}

