# MariaDB 10.5 CentOS repository list - created 2021-03-04 15:16 UTC 
# http://downloads.mariadb.org/mariadb/repositories/ 
[mariadb] 
name = MariaDB 
baseurl = "http://yum.mariadb.org/{{ mariadb_version }}/centos7-amd64"
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB 
gpgcheck=1
